<html lang="en"></html>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f7f7f7; } .container { width: 80%; max-width: 600px;
      margin: 20px auto; padding: 20px; background-color: #fff; border-radius:
      8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } .header { text-align:
      center; margin-bottom: 20px; } .content { padding: 20px; }
      .button-container { display: flex; justify-content: center; margin: 20px
      0; } .reset-password-button { background-color: #142897; border: none;
      color: #fff; padding: 10px 20px; font-size: 16px; font-weight: bold;
      text-transform: uppercase; border-radius: 5px; cursor: pointer;
      text-decoration: none; } .reset-password-button:hover { background-color:
      #103ea1; } .Divider { height: 2px; background-color: #f1f1f1; margin: 20px
      0; } .signature { font-weight: bold; } .font_italic { font-style: italic
      !important; } .keyword { text-decoration: underline; }

      table {
      background-color: white;
      }

       .inside-table{
      border: 1px solid black;
      border-collapse: collapse;
      padding-left: 5px;
      padding-right: 5px;
      }
       .logo {
        width: 150px;
        height: 100px;
      }

    </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <img
          src="{{logoUrl}}"
          alt="PhoneAwayBox Logo"
          class="logo"
        />
      </div>
      <div class="content">
        <p>Hello Admin,</p>
        <p>You are getting this email because some students have not Checked-in today, Below are the details:</p>
        <p>Student Details:</p>
         <table cellpadding="8"></table>
          <tbody>
            <tr>
              <td>
                <table class="inside-table">
                  <thead>
                    <tr class="inside-table">
                      <th class="inside-table">Class Name</th>
                      <th class="inside-table">Student Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each records}}
                    <tr class="inside-table">
                      <td class="inside-table" rowspan="{{students.length}}">
                        {{this.className}}
                      </td>
                      {{#each this.students}}
                      {{#if @first}}
                      <td class="inside-table">
                        {{this.fullName}}
                      </td>
                    </tr>
                    {{else}}
                    <tr class="inside-table">
                      <td class="inside-table">
                        {{this.fullName}}
                      </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    {{/each}}
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="Divider"></div>
        <p class="signature">Thanks,</p>
        <p class="signature">PhoneAwayBox Team</p>
      </div>
    </div>
  </body>

</html>